
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#menuContainer{
    width: 80%;
    height: auto;
    border: 1px solid black;
    margin: 0px auto;
    display: flex;
}
menu{
    width: auto;
    height: auto;
    margin: auto;
    padding: 10px;
    background-color: whitesmoke;
    border: 2px solid red;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;

}
li{
    padding: 5px;
    width: 200px;
    height: 300px;
    background-color: yellow;
    border:1px solid black;
    /* text-align: center; */
}
img{
    height: 70%;
    width: 100%;
    margin-bottom: 5px;
    background-color: gray;

}
h4{
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
p{
}
span{
    margin-left: 100px;

}
button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 80%;
    height: 25px;
    text-align: center;
}