:root {
    --primary: #1b263b;     /* var(--primary) */
    --secondary: #1b263b;  /* var(--secondary) */
    --increment: #415a77;   /* var(--increment) */
    --decrement: #778da9;   /* var(--decrement) */
    --menuCart: #e0e1dd;    /* var(--menuCart)  */
    --closeCart: #6c757d;    /* var(--closcart)  */
    --primaryFont: roboto;  /* var(--primaryFont) */
    --checkOut: #38b000;     /* var(--checkOut) */
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: white;
    width: auto;

}
a{
    text-decoration: none;
    color: white;
}

/****** 

Header Styles 

******/
header {
    background-color: var(--primary);
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 5rem;
    padding: 20px;
    align-items: center;
    position: sticky;
    top: 0;
}
header h1{
    display: inline-block;
    color: rgb(255, 255, 255);
    font-family: var(--primaryFont);
    font-size: xx-large;

}
header .iconWrapper{
    display: flex;
}
header .basketIcon{
    padding: 3px;
    color: white;
    height: 60px;
    width: 60px;
    border-radius: 10px;
    cursor: pointer;
    font-size: xxx-large;
}
header .quantityIcon{
    padding: 5px;
    position: relative;
    left: -30px;
    height: 28px;
    border-radius: 50%;
    color: white;
    background-color: red;
    font-family:"roboto";
}



/****** 

Cart Styles

******/
.cartOverlay{
    position: fixed;
    inset: 0;
    background: rgba(65, 70, 68, 0.5);    
    z-index: 1;
    visibility: hidden;
}
.cartOverlay.active{
    visibility: visible;
}
.cartMenu.active{
    transform:none;
}
.cartMenu{
    position: fixed;
    top: 0;
    right: 0;
    width: 400px;
    height: 100%;
    background-color: var(--menuCart);
    z-index: 2;
    transition: 0.5s;
    opacity: 100%; 
    transform: translateX(100%);
}
.cartHeader{
    margin-top:5px;
    padding: 5px;;
}
.cartHeader h1{
    font-family: Roboto;
    font-weight: 600;
    display: block;
    margin: 0px auto;
    width: fit-content;
    padding: 5px;
    border-bottom: 3px solid var(--primary);
}
.cartHeader i{
    width: fit-content;
    height: fit-content;
    font-size: x-large;
    color: var(--closeCart);
    cursor: pointer;
}
.cartHeader i:hover{
    width: fit-content;
    height: fit-content;
    font-size: x-large;
    color: var(--primary);
    cursor: pointer;
}
.emptyCartDesc{
    width :100%;
    height: 200px;

    margin-top: 50%;
}
.emptyCartDesc i{
    display: block;
    font-size: 70px;
    color: rgb(155, 155, 155);
    text-align: center;
    margin: auto;
}
.emptyCartDesc h1{
    font-family: "Roboto", serif;
    font-weight: 100;
    font-style: normal;  
    text-align: center;
    color: var(--primary);
}
.shoppingItems{
    height: 75%;
    overflow-y: scroll;
    background-color: var(--menuCart);
    border-bottom: 2px solid black;
}
.cartItem{
    padding: 10px;
    margin: 10px;
    background-color: var(--decrement);
    border-radius: 15px;
}
.cartItemDesc{
display: flex;
    justify-content: space-between;
}
.cartItemDesc i{
    font-size: x-large;
    color: red;
    cursor: pointer;
    margin-bottom: -30px;
}
.cartItemDesc i:hover{
    color: #b60404;
}
.cartItemDesc img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.cartItemDesc h3{
    font-family: roboto;
    margin: auto 10px;
    display: block;;
}
.quantityContainer{
    width: 30%;
    height: 100%;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px 0;
}
.quantityContainer button{
    background-color: var(--primary);
    color: var(--menuCart);
    font-weight: 300;
    font-size: 20px;
    border-radius: 18px;
    width: 100%;
    text-align: center;
    border: none;
    cursor: pointer;
}
.quantityContainer button:hover{
    background-color: var(--increment);
    color: white;
}
.quantityContainer .amount{
    text-align: center;
    padding: 5px;
    font-size: x-large;
    color: white;

}
.cartItemPriceContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cartItemPrice{
    font-family: monospace;
    font-size: x-large;
    color:black;
    display: inline-block;
    margin-left: 10px;
}
.cartItemAmount{
    display: inline;
    background-color: black;
    font-size: larger;
    color: white;
    font-family: monospace;
    border-radius: 10px;
    padding: 5px;
}
.cartButtonsContainer{
    position: absolute;
    width: 100%;
    height: 50px;
    bottom: 0;
    border: 1px solid black;
    display: flex;
}
.cartButtonsContainer button{
    width: 50%;
    height: 100%;
    border: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    text-transform: uppercase;
}
.cartButtonsContainer .clearCartBtn{
    background-color: var(--increment);
}
.cartButtonsContainer .clearCartBtn:hover{
    background-color: var(--decrement);
}

.checkoutBtn{
    background-color: var(--primary);

}
.checkoutBtn:hover{
    background-color: var(--decrement);
}
.cartTotalDesc{
    display: flex;
    justify-content: space-between;
    padding: 5px;
}
.cartTotalDesc h1{
    font-family: roboto;
    font-weight: normal;
    font-size: 30px;
}

/**********      
Menu and food list items
**********/

.listOfFoods{
    max-width: 1100px;
    height: auto;
    margin: 50px auto;
    padding: 20px;
    border-radius: 15px;
    background-color: var(--menuCart);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;

}
.menuItem{
    width: 100%;
    height: auto;
    border-radius: 10px;
    background-color: white;
    padding: 10px;
    display: grid;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.menuItem img{
    width: 100%;
    height: 200px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.menuItem h3{
    font-family: roboto;
    font-weight: normal;
}
.menuItem .cost{
    font-family: roboto;
    font-size: larger;
}
.menuItem .itemButtons {
    display: flex;
    width: 100%;
    height: 35px;
    text-transform: uppercase;
    justify-content: center;

}
.itemButtons div{
    width: 30%;
    text-align: center;
    padding: 10px;
}
.decrement{
    background-color:var(--decrement);
    color: white;
    font-weight: 600;
    cursor: pointer;
}
.increment{
    background-color: var(--increment);
    color: white;
    font-weight: 600;
    cursor: pointer;
}
.increment:hover{
    background-color: var(--secondary);

}
.decrement:hover{
    background-color:var(--secondary)
}
.itemButtons .quantity{
    border:1px solid black;
    font-weight: 600;
    padding: 8px;;
}
.menuItem .itemDesc{
    display: flex;
    justify-content: space-between;
    margin: 17px 5px 5px 5px;
}
.menuItem .itemInfo{
    width: 100%;
    padding: 5px;
    margin-bottom: 4px;
    font-family: roboto, thin;
}
.menuItem .itemInfo p{
    font-family: roboto;
    color: gray;
}
.menuItem:hover{
    box-shadow: 0 15px 20px 10px rgba(0, 0, 0, 0.25), 0 10px 50px 0 rgba(0, 0, 0, 0.25);
}

/**********      
CHECKOUT STYLES
**********/
.checkoutMsgContainer{
    width: 800px;
    border: 1px solid black;
    margin: 15% auto;
    background-color: var(--menuCart);
}
.checkoutMsgContainer i{
    display: block;
    font-size: 70px;
    color: var(--checkOut);
    text-align: center;
    margin-top:20px ;
}
.checkoutMsgContainer h1{
    font-family: "Roboto", serif;
    font-weight: 100;
    font-style: normal;  
    text-align: center;
    color: var(--primary);
}
.checkoutMsgContainer h3{
    font-family: "Roboto", serif;
    font-weight: 200;
    font-style: normal;  
    text-align: center;
    color: var(--primary);
    margin-top: 25px;
}
.checkoutMsgContainer span{
    font-family: "Roboto", serif;
    font-weight: 600;
    font-style: normal;  
    text-align: center;
    color: var(--primary);
}
.checkoutMsgContainer button{
    width: 25%;
    height: 50px;
    color: white;
    font-family: Roboto;
    border-radius: 5px;
    font-weight: 300;
    text-transform: uppercase;
    background-color: var(--primary);
    margin: 20px 36%;
    cursor: pointer;
}
@keyframes rotateCartIcon {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    
}

/**********      
FOOTER STYLES
**********/

footer{
    background-color: var(--primary);
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
}
footer .socialMedias{
    margin: 10px;
    font-size: xx-large;
    cursor: pointer;
}
footer .socialMedias i:hover{
    color: var(--menuCart);
}
footer h3{
    color: white;
    font-family: var(--primaryFont);
}

